fastapi
uvicorn[standard]
pymongo
python-multipart
pydantic[email]
pydantic-settings
PyJWT
passlib[bcrypt]
python-jose[cryptography]
pyotp

# PDF
PyPDF2
pdfplumber
PyMuPDF

# HTTP
axios

# ML 
sentence-transformers
torch==2.10.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
